@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/inter-400.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/inter-700.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/inter-900.woff2") format("woff2");
  }

html {
    height: 100%;
  }

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 22px;
    background-color: #FEAFC3;
    color: #2D3440;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  /* class="button"*/

  .button{
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
      text-align: center;
      text-decoration: none;
  }

/* HEADER */

.header-navigation{
    display: flex;
    width: 1170px;
    margin: 0 auto;
}

.nav-list{
    margin: 0;
    padding: 0;
    width: 550px;
}

.user-nav-list{
    max-width: 451px;
    margin-left: auto;
}

.site-nav-item{
    list-style-type: none;
}

.site-nav-link{
    line-height: 20px;
    color: #2D3440;
    text-align: center;
    text-decoration: none;
}

.user-nav-item{
    list-style-type: none;
}

.user-nav-item a{
    font-size: 14px;
    line-height: 20px;
    color: #2D3440;
    text-align: center;
    text-decoration: none;
}

.header-phone-number{
    font-weight: 700;
}

.empty-user-basket{
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

/* <MAIN> */
.main-container {
    flex-grow: 1;
  }

/* HERO SLIDER */

.hero-wrapper{
    width: 1170px;
    margin: 0 auto;
}

/* .hero-slide-list{
    display: flex;
} */

.hero-slide-item{
    list-style-type: none;
}

.slide-header{
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
}

.hero-slide-item p{
    font-size: 18px;
    line-height: 24px;
}

/* SHOP PROMO */
.shop-promo{
    width: 1170px;
    margin: 0 auto;
}

.promo-wrapper{
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
}

.promo{
    background-color:#FF7799;
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 570px;
    border-radius: 16px;
}

.section-title{
    font-size: 32px;
    line-height: 46px;
    font-weight: 900;
    text-align: center;
}

.promo h3{
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.raspberry-promo{
    background-image: url(/images/raspberrry-promo.png);
}

.marshmallow-promo{
    background-image: url(/images/marshmallow-promo.png);
}

/* POPULAR FLAVORS */
.popular-flavors-wrapper{
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
}

.product-card{
    background-color: #FCFCFC;
    border-radius: 8px;
    width: 270px;
}

.product-card-link{
    text-decoration: none;
    color: #2D3440;
}

.product-card-link h3{
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
}

.product-card-link p{
    color: #565C66;
    text-align: center;
}

.product-card-image{
    border-radius: 50%;
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    /* center the img */
    display: block;
    margin: 0 auto;
}

.product-card-price{
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

/* ADVANTAGES */
.advantages-wrapper{
    width: 1170px;
    margin: 0 auto;
    background-image: url(/images/advantages-background.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    border-radius: 16px;
    background-color: #e7d8b8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}
/* NEED to add white block */

.advantages-base{
    background-color: #FCFCFC;
    border-radius: 16px;
    width: 1122px;
    margin: 0 auto;
}

.advantages-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.advantages-item{
    list-style-type: none;
    width: 506px;
}

.advantages-item p{
    color: #565C66;
}

/* news*/

.news-and-subscribtion-wrapper{
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
}

.blog-news{
    background-image: url(/images/blog-bews-background.jpeg);
    background-color: rgb(240, 88, 88);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 570px;
    border-radius: 16px;
}

.blog-news p{
    color: #565C66;
    line-height: 20px;
}

.blog-news-link{
    text-decoration: none;
    color: #2D3440;
}

.blog-news-link h2{
    font-size: 24px;
    line-height: 30px;
}

/* subscribtions */
.subscribtion-block{
    background-image: url(/images/subscribtion-background.png);
    background-color: red;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 570px;
    border-radius: 16px;
}

.subscribtion-base{
    background-color: #FCFCFC;
    border-radius: 16px;
    width: 558px;
    margin: 0 auto;
}

.subscribtion-block p{
    color: #565C66;
}

/* DELIVERY */
.delivery-wrapper{
    display: flex;
    width: 1170px;
    justify-content: space-between;
    margin: 0 auto;
    background-image: url(/images/delivery-background.jpeg);
    background-color: rgb(238, 77, 77);
    background-repeat: no-repeat;
    background-size: 100% auto;
    border-radius: 16px;
}

.delivery-text{
    width: 606px;
}

.delivery-form-wrapper{
    width: 500px;
    margin-right: 64px;
    background-color: #FCFCFC;
    box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
    border-radius: 8px;
}

.delivery-text .section-title{
    text-align: left;
}

.delivery p{
    color: #565C66;
}

.delivery-form label{
    line-height: 20px;
    font-weight: 700;
    color: #2D3440;
}

/* CONTACTs */

.contacts-wrapper{
    width: 1170px;
    margin: 0 auto;
    background-image: url(/images/contacts-background.jpeg);
    background-color: rgb(238, 77, 77);
    background-repeat: no-repeat;
    background-size: 100% auto;
    border-radius: 16px;
    height: 492px;
}

.address-wrapper{
    display: block;
    width: 263px;
    background-color: #FCFCFC;
    box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
    border-radius: 16px;
    margin: 64px 763px 64px 64px;
    padding: 40px;
    /* margin top and bottom doesn't work */
}

.contacts-address {
    font-style: normal;
  }

.contacts-address p{
    margin: 0;
    color: #565C66;
  }

.contacts-address b{
    font-size: 20px;
    line-height: 24px;
  }

.company-phone-number{
    text-decoration: none;
    color: #2D3440;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

.company-shedule{
      font-size: 14px;
      line-height: 20px;
  }

  /* FOOTER */

.page-footer-wrapper{
    width: 1170px;
    margin: 0 auto;
    display: flex;
}

.page-footer-social{
    width: 104px;
    margin-left: 4px;
    margin-right: 299px;
}

.footer-social-list{
    padding: 0;
    margin: 0;
}

.footer-navigation{
    width: 356px;
    margin-right: 200px;
}

.copyright{
    width: 193px;
    margin-right: 14px;
}

.footer-list{
    margin: 0;
    padding: 0;
}

.footer-item, .footer-social-list{
    list-style-type: none;
}

.footer-nav-link{
    text-decoration: none;
    color: #2D3440;
    font-size: 14px;
    line-height: 20px;
}

.for-suppliers{
    font-weight: 700;
}

.copyright-text a{
    text-decoration: none;
    color: #2D3440;
    border-bottom: 1px solid rgba(45,52,64,0.5);
}

.copyright p{
    margin: 0;
    font-size: 12px;
    line-height: 16px;
}

/* CATALOG PAGE */

/* header */

.product-card-image-basket{
    border-radius: 50%;
}

/* breadcrumbs */
.catalog-header-wrapper{
    width: 1170px;
    margin: 0 auto;
}

.breadcrumbs {
    margin: 0;
    padding: 0;
    color: #2D3440;
    list-style-type: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
  }
  
.breadcrumbs-link {
    color: inherit;
}

.catalog-header h2{
    margin: 0;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
}

/* FILTERS */

.catalog-products{
    width: 1170px;
    margin: 0 auto;
}

.catalog-filters{
    display: flex;
    flex-wrap: wrap;
    width: 807px;
    font-size: 14px;
    line-height: 20px;
}

.sorting-wrapper{
    width: 196px;
    margin-right: 24px;
}

.catalog-filter-group{
    margin: 0;
    padding: 0;
    border: none;
}

.price-group{
    width: 196px;
    margin-right: 24px;
}

.fat-group{
    width: 367px;
    margin-left: 0 auto;
}

.catalog-filter-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.fillers-group{
    width: 596px;
    margin-left: 24px;
}

.filter-button{
    width: 187px;
    margin-left: auto;
}

/* PRODUCT CARDS */
.product-catalog-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;
}

/* PAGINATION */
.pagination{
    list-style-type: none;
}

.pagination-link {
    color: #2D3440;
    text-decoration: none;
    line-height: 20px;
  }
  
  .pagination-current {
    background-color: #FCFCFC;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
  }
  
  .pagination-disabled {
    opacity: 0.2;
  }