@font-face
{
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;

    src: url('/fonts/inter-400.woff2') format('woff2');
    font-display: swap;
}

@font-face
{
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;

    src: url('/fonts/inter-700.woff2') format('woff2');
    font-display: swap;
}

@font-face
{
    font-family: 'Inter';
    font-weight: 900;
    font-style: normal;

    src: url('/fonts/inter-900.woff2') format('woff2');
}

html
{
    height: 100%;
}

body
{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 22px;

    display: flex;
    flex-direction: column;

    min-height: 100%;
    margin: 0;

    color: #2d3440;
    background-color: #feafc3;
}

.visually-hidden
{
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;
}

.wrapper
{
    width: 1170px;
    margin: 0 auto;
}

/* BUTTONS + ICONS*/

.button
{
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;

    text-align: center;
    text-decoration: none;

    color: #2d3440;
}
/* обводка у кнопки задает лишний размер - то есть она увеличивает а должна уменьшать */
.promo-button
{
    display: inline-block;

    box-sizing: content-box;
    padding: 12px 32px;

    border: 4px solid rgba(252, 252, 252, .4);
    border-radius: 26px;
    background-color: #fcfcfc;
    box-shadow: 0 4px 12px rgba(45, 52, 64, .1);
}

.icon
{
    width: 16px;
    height: 16px;
}

.arrow-icon
{
    display: flex;

    justify-content: center;
    align-items: center;
}

.nav-icon
{
    margin-right: 9px;
}

.search-link .nav-icon
{
    margin-right: 0;
}

.cart-icon
{
    margin: auto;

    background-image: url(/images/icons/cart-icon-white.svg);
    background-repeat: no-repeat;
}

.product-card-button
{
    display: flex;

    width: 32px;
    height: 32px;

    border-radius: 26px;
    background-color: #ff2f64;
}
/* обводка у кнопки задает лишний размер - то есть она увеличивает а должна уменьшать b она не прозрачная */

.subscribe-button
{
    display: inline-block;

    width: 152px;
    margin-left: auto;
    padding: 12px 32px;

    color: #fcfcfc;
    border: 4px solid rgba(255, 47, 100, .3);
    border-radius: 26px;
    background-color: #ff2f64;
    box-shadow: 0 4px 12px rgba(45, 52, 64, .1);
}

/* то же самое - кнопка не встает */
.feedback-form-button
{
    box-sizing: border-box;
    width: 250px;
    margin-left: auto;
    padding: 12px 32px;

    color: #fcfcfc;
    border: 4px solid rgba(255, 47, 100, .3);
    border-radius: 26px;
    background-color: #ff2f64;
    box-shadow: 0 4px 12px rgba(45, 52, 64, .1);
}

.pagination-show-more
{
    padding: 12px 32px;
}

/* HEADER */

.page-header
{
    padding: 24px 0;
}

.header-navigation
{
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.header-logo
{
    margin-right: 32px;
}

.logo-image
{
    display: block;
}
/* по Pixel Perfect хедер вылез вниз - пришлось задать высоту ссылке */

.nav-list
{
    display: flex;

    margin: 0;
    padding: 0;

    list-style-type: none;

    align-items: center;
    flex-wrap: wrap;
}

.site-nav-list
{
    width: 550px;
}

.nav-link
{
    line-height: 20px;

    text-align: center;
    text-decoration: none;

    color: #2d3440;
}

.site-nav-item:not(:last-child)
{
    margin-right: 32px;
}

.user-nav-list
{
    max-width: 451px;
    margin-left: auto;
}

.user-nav-link
{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    display: flex;

    box-sizing: border-box;
    min-width: 32px;
    min-height: 32px;
    padding: 6px 16px 6px 16px;

    border-radius: 26px;
    background-color: rgba(252, 252, 252, .3);

    align-items: center;
    justify-content: center;
}

.user-nav-item:not(:first-child)
{
    margin-left: 16px;
}

.user-nav-list .search-item
{
    margin-left: 18px;
}

.search-link
{
    margin-left: 0;
    padding: 0;
}

.header-phone-number
{
    font-weight: 700;

    display: block;
}

.empty-user-basket
{
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}


/* <MAIN> */

.main-container
{
    flex-grow: 1;
}

/* HERO SLIDER */

.hero
{
    /* position: relative; */
    margin-bottom: 80px;
}

.hero input
{
    display: none;
}

.hero-wrapper
{
    /* position: relative; */
    padding-top: 11px;
    /* overflow: hidden; */
}

.hero-slide-list
{
    line-height: 0;

    display: flex;

    margin: 0;
    padding: 0;

    list-style-type: none;
}

.hero-slide-item
{
    display: flex;

    align-items: center;
}

.slide-information
{
    width: 470px;
    margin-right: 21px;
    margin-left: 70px;
}

.slide-header
{
    font-size: 36px;
    font-weight: 900;
    line-height: 46px;

    margin: 0;
    margin-bottom: 24px;
}

.slide-information p
{
    font-size: 18px;
    line-height: 24px;

    width: 410px;
    margin: 0;
    margin-bottom: 48px;
}

.slide-main-image
{
    position: relative;

    width: 312px;
    margin-right: 56px;
}

.next,
.prev
{
    position: absolute;

    display: flex;

    width: 38px;
    height: 38px;

    border: 2px solid #fcfcfc;
    border-radius: 26px;
    background-color: rgba(252, 252, 252, .3);

    justify-content: center;
    align-items: center;
}

.prev
{
    top: 245px;
    left: -20px;
}

.next
{
    top: 245px;
    right: -20px;
}

.slide-next-images
{
    display: flex;

    width: 241px;
}

.slide-image-next
{
    margin-right: 41px;
}

.slide-image-next,
.slide-image-next-next
{
    display: block;
}

.slide-image-next
{
    margin-right: 41px;
}

.slider-footer
{
    display: flex;

    justify-content: space-between;
}

.slider-togglers
{
    display: flex;

    margin: 0;
    margin-right: 8px;
    padding: 0;

    list-style-type: none;

    justify-content: flex-start;
}

.slider-togglers-item:not(:last-child)
{
    margin-right: 8px;
}

.toggler-button
{
    width: 12px;
    height: 12px;

    border: none;
    border-radius: 50%;
    background-color: #fcfcfc;
}

.toggler-button:not(.toggler-button-current)
{
    opacity: .3;
}

.hero-slide-2,
.hero-slide-3
{
    display: none;
}

#slide-1:checked ~ .hero-slide-list li:nth-of-type(1),
#slide-2:checked ~ .hero-slide-list li:nth-of-type(2),
#slide-3:checked ~ .hero-slide-list li:nth-of-type(3)
{
    display: block;
}

#slide-1:checked ~ .slider-togglers li:nth-of-type(1) label,
#slide-2:checked ~ .slider-togglers li:nth-of-type(2) label,
#slide-3:checked ~ .slider-togglers li:nth-of-type(3) label
{
    color: red;
}

/* SHOP PROMO */

.shop-promo
{
    margin-bottom: 80px;
}

.promo-wrapper
{
    display: flex;

    justify-content: space-between;
}

.promo
{
    box-sizing: border-box;
    width: 570px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;

    border-radius: 16px;
    background-color: #f79;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.section-title
{
    font-size: 32px;
    font-weight: 900;
    line-height: 46px;

    margin: 0;

    text-align: center;
}

.promo-title
{
    width: 443px;
    margin: 0 auto;
    margin-bottom: 56px;
}

.promo-text h3
{
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;

    margin: 0;
    margin-bottom: 16px;
}

.promo-text p
{
    margin: 0;
    margin-bottom: 32px;
}

.raspberry-promo
{
    padding-right: 209px;

    background-image: url(/images/raspberrry-promo.png);
}

.marshmallow-promo
{
    padding-right: 236px;

    background-image: url(/images/marshmallow-promo.png);
}


/* POPULAR FLAVORS */

.popular-flavors
{
    margin-bottom: 80px;
}

.popular-flavors-title
{
    width: 527px;
    margin: 0 auto;
    margin-bottom: 107px;
}

.popular-flavors-wrapper
{
    display: flex;

    flex-wrap: wrap;
}

.product-card
{
    display: flex;
    flex-direction: column;

    width: 270px;
    margin-right: 30px;

    border-radius: 8px;
    background-color: #fcfcfc;
}

.product-card:nth-child(4n)
{
    margin-right: 0;
}

.product-card-content
{
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    padding: 133px 40px 24px 40px;

    flex-grow: 1;
}

.product-card-link
{
    text-decoration: none;

    color: #2d3440;
}

.product-card-title
{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;

    margin: 0;
    margin-bottom: 8px;

    text-align: center;
}

.product-card-link p
{
    margin: 0;
    margin-bottom: 16px;

    text-align: center;

    color: #565c66;
}


.product-image-link
{
    position: relative;
}

.product-card-image
{
    position: absolute;
    bottom: -117px;
    left: 52px;

    display: block;

    margin: 0 auto;

    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(45, 52, 64, .1);
}

.product-card-footer
{
    display: flex;

    width: 190px;
    margin: 0 auto;
    margin-top: auto;

    justify-content: space-between;
    align-items: center;
}

.product-card-price
{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

/* ADVANTAGES */

.advantages
{
    margin-bottom: 80px;
}

.advantages-wrapper
{
    box-sizing: border-box;
    padding: 24px;

    border-radius: 16px;
    background-color: #e7d8b8;
    background-image: url(/images/advantages-background-pattern.png);
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

.advantages-base
{
    box-sizing: border-box;
    width: 1122px;
    margin: 0 auto;
    padding: 56px 40px;

    border-radius: 16px;
    background-color: #fcfcfc;
    background-position: center;
}

.advantages-title
{
    margin-bottom: 56px;
}

.advantages-list
{
    display: flex;

    margin: 0;
    padding: 0;

    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}

.advantages-item
{
    display: flex;

    width: 506px;

    list-style-type: none;

    justify-content: flex-start;
}

.advantages-item:nth-child(1),
.advantages-item:nth-child(2)
{
    margin-bottom: 40px;
}

.advantages-icon
{
    display: block;

    margin-right: 16px;
}

.advantages-item p
{
    margin: 0;

    color: #565c66;
}

/* news*/

.news-and-subscribtion-wrapper
{
    display: flex;

    margin-bottom: 76px;

    justify-content: space-between;
}

.blog-news
{
    box-sizing: border-box;
    width: 570px;
    padding-top: 33px;
    padding-right: 235px;
    padding-bottom: 63px;
    padding-left: 32px;

    border-radius: 16px;
    background-color: rgb(240, 88, 88);
    background-image: url(/images/blog-bews-background.jpeg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.blog-news p
{
    line-height: 20px;

    margin: 0;
    margin-bottom: 13px;

    color: #565c66;
}

.blog-news-link
{
    display: inline-block;

    width: 303px;

    text-decoration: none;

    color: #2d3440;
}

.blog-news-link h2
{
    font-size: 24px;
    line-height: 30px;

    margin: 0;
}

/* subscribtions */
.subscribtion-block
{
    box-sizing: border-box;
    width: 570px;
    padding: 6px;

    border-radius: 16px;
    background-color: red;
    background-image: url(/images/subscribtion-background.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.subscribtion-base
{
    padding: 26px;

    border-radius: 16px;
    background-color: #fcfcfc;
}

.subscribtion-description
{
    margin: 0;
    margin-bottom: 42px;

    color: #565c66;
}

/* что то не так с высотой блока - кнопка когда встанет на место надо разобраться с input */
.subscribe-form
{
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.subscribtion-input
{
    font-size: 16px;
    line-height: 20px;

    display: inline-block;

    box-sizing: border-box;
    width: 332px;
    padding-top: 14px;
    padding-right: 160px;
    padding-bottom: 14px;
    padding-left: 16px;

    border: 1px solid #b9b9b9;
    border-radius: 4px;
    background-color: #fff;
}

.subscribtion-input::placeholder
{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 20px;

    opacity: 1;
    color: #b9b9b9;
}

/* DELIVERY */

.delivery
{
    margin-bottom: 80px;
}

.delivery-wrapper
{
    display: flex;

    border-radius: 16px;
    background-color: rgb(238, 77, 77);
    background-image: url(/images/delivery-background.jpeg);
    background-repeat: no-repeat;
    background-size: 100% auto;

    justify-content: space-between;
}

.delivery-text
{
    box-sizing: border-box;
    width: 542px;
    padding-top: 167px;
    padding-right: 71px;
    padding-bottom: 163px;
    padding-left: 100px;
}

.delivery-text .section-title
{
    margin-bottom: 24px;

    text-align: left;
}

.delivery p
{
    margin: 0;

    color: #565c66;
}

.delivery-form-wrapper
{
    box-sizing: border-box;
    width: 500px;
    margin: 64px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 42px;
    padding-left: 40px;

    border-radius: 8px;
    background-color: #fcfcfc;
    box-shadow: 0 15px 40px rgba(45, 52, 64, .12);
}

.delivery-description
{
    padding-right: 40px;
}

.delivery-form
{
    display: grid;

    margin-top: 32px;

    grid-template-columns: 117px 287px;
    gap: 20px 16px;
    /* display: flex;
    flex-wrap: wrap; */
}

.field-group
{
    display: flex;
    flex-direction: column;
}

.delivery-form-address
{
    grid-column: 1/-1;
}

.delivery-submit
{
    grid-column: 1/-1;
    justify-self: center;
}

.info
{
    display: none;
}

.form-label
{
    font-weight: 700;
    line-height: 20px;

    color: #2d3440;
}

/* CONTACTs */

.contacts-wrapper
{
    box-sizing: border-box;
    padding-top: 64px;
    padding-right: 763px;
    padding-bottom: 64px;
    padding-left: 64px;

    border-radius: 16px;
    background-color: rgb(238, 77, 77);
    background-image: url(/images/contacts-background.jpeg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.content-description
{
    width: 263px;
    padding: 40px;

    border-radius: 8px;
    background-color: #fcfcfc;
    box-shadow: 0 8px 16px rgba(45, 52, 64, .12);
}

.contacts-address
{
    font-style: normal;
}

.contacts-address p
{
    margin: 0;
    margin-bottom: 12px;

    color: #565c66;
}

.contacts-address b
{
    font-size: 20px;
    line-height: 24px;

    display: inline-block;

    margin-bottom: 24px;
}

.company-phone-number
{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;

    text-decoration: none;

    color: #2d3440;
}

.contacts-address .company-shedule
{
    font-size: 14px;
    line-height: 20px;

    margin-bottom: 32px;
}

/* FOOTER */

.page-footer-wrapper
{
    display: flex;

    padding-top: 48px;
}

.page-footer-social
{
    max-width: 108px;
    margin-right: 303px;
    margin-bottom: 81px;
}

.footer-social-list
{
    display: flex;

    margin: 0;
    margin-left: 4px;
    padding: 0;

    list-style-type: none;
}

.footer-social-item
{
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.footer-social-item:last-child
{
    margin-right: 0;
}

.footer-navigation
{
    width: 373px;
}

.footer-list
{
    display: grid;

    margin: 0;
    padding: 0;

    list-style-type: none;

    grid-template-columns: 146px 182px;
    row-gap: 6px;
    column-gap: 24px;
}

.footer-nav-link
{
    font-size: 14px;
    line-height: 20px;

    box-sizing: border-box;

    text-decoration: none;

    color: #2d3440;
}

.footer-item:nth-child(odd)
{
    padding-left: 20px;
}

.heart-icon-item
{
    position: relative;
}

.heart-icon
{
    position: absolute;
    bottom: 4px;
    left: -3px;
}

.copyright
{
    width: 193px;
    margin-right: 14px;
    margin-left: auto;
}

.copyright-text a
{
    text-decoration: none;

    color: #2d3440;
    border-bottom: 1px solid rgba(45,52,64,.5);
}

.copyright p
{
    font-size: 12px;
    line-height: 16px;

    margin: 0;
    margin-top: 9px;
}

/* CATALOG PAGE */

/* header */

.product-card-image-basket
{
    border-radius: 50%;
}

.catalog-page
{
    padding-top: 32px;
}

/* breadcrumbs */
.catalog-header
{
    margin-bottom: 40px;
}

.breadcrumbs
{
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;

    display: flex;

    margin: 0;
    margin-bottom: 16px;
    padding: 0;

    list-style-type: none;

    color: #2d3440;
}

.breadcrumbs-item:not(:last-child)
{
    margin-right: 28px;
}
.breadcrumbs-link
{
    text-decoration: none;

    color: inherit;
    border-bottom: 1px solid #2d3440;
}

.current-breadcrumbs-link
{
    border-bottom: none;
}

.catalog-header h2
{
    font-size: 32px;
    font-weight: 900;
    line-height: 46px;

    margin: 0;
}

/* FILTERS */

.filters-field
{
    margin-bottom: 99px;
}

.catalog-filters-form
{
    font-size: 14px;
    line-height: 20px;

    display: flex;

    width: 807px;

    flex-wrap: wrap;
}

.sorting-wrapper
{
    width: 196px;
    margin-right: 24px;
}

.sorting-wrapper label
{
    margin-left: 16px;
}

.select-control
{
    margin-top: 8px;
    padding: 8px 34px 8px 16px;

    border-radius: 20px;
    background-color: rgba(252, 252, 252, .3);
}

.select-control option
{
    padding: 0;
}

.catalog-filter-group
{
    margin: 0;
    padding: 0;

    border: none;
}

legend
{
    margin-left: 16px;
}

.catalog-filter-title
{
    margin-bottom: 8px;
}

.price-group
{
    width: 196px;
    margin-right: 24px;
}

.fat-group
{
    box-sizing: border-box;
    width: 367px;
    margin-left: 0 auto;
}

.catalog-filter-list
{
    display: flex;

    box-sizing: border-box;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    padding: 10px 16px;

    list-style-type: none;

    border-radius: 20px;
    background-color: rgba(252, 252, 252, .3);
}

/* .catalog-filter-item
{
    margin-right: 16px;
    
} */

.fillers-group
{
    width: 596px;
}

.filter-button
{
    width: 187px;
    margin-left: auto;
}

/* PRODUCT CARDS */

.catalog-products-wrapper
{
    display: flex;

    flex-wrap: wrap;
}

.catalog-product-card
{
    margin-bottom: 91px;
}

.catalog-product-card:nth-last-of-type(1),
.catalog-product-card:nth-last-of-type(2),
.catalog-product-card:nth-last-of-type(3),
.catalog-product-card:nth-last-of-type(4)
{
    margin-bottom: 16px;
}

/* PAGINATION */

.pagination-wrapper
{
    display: flex;

    box-sizing: border-box;
    padding-top: 41px;
    padding-bottom: 41px;

    justify-content: flex-end;
}

.pagination
{
    display: flex;

    margin: 0;
    margin-left: 303px;
    padding: 0;

    list-style-type: none;

    align-items: center;
}

.pagination-item:not(:nth-child(6))
{
    margin-right: 16px;
}

.pagination .pagination-prev
{
    margin-right: 30px;
}

.pagination .pagination-next
{
    margin-right: 0;
    margin-left: 30px;
}

.pagination-link
{
    line-height: 20px;

    display: block;

    box-sizing: border-box;

    text-decoration: none;

    color: #2d3440;
}

.prev-icon
{
    opacity: .2;
}

.pagination-show-more
{
    width: 179px;
}
